/* Global page layout */

/* Arcade font by Yuji Adachi released free on dafont.com */
/* https://www.dafont.com/arcade-ya.font */
@font-face {
  font-family: 'Conv_ARCADE_N';
  src: url('fonts/ARCADE_N.eot');
  src: local('☺'), url('fonts/ARCADE_N.woff') format('woff'), url('fonts/ARCADE_N.ttf') format('truetype'), url('fonts/ARCADE_N.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Conv_ARCADE_N';
  background-color: #000000;
  color: #fafafa;
}

input, a, button {
  font-family: 'Conv_ARCADE_N';
}

@media only screen and (max-width: 640px) {
  p, div {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  p, div {
    font-size: 12px;
  }
}

/* Font and formatting for the title */
.title-font {
  margin-left: 20px;
}

.text-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: inline;
}

input {
  width: 100%;
}

/* Container */

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 80%;
}

.container-mini {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

@media only screen and (max-width: 960px) {
  .container-mini {
      width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
      width: 95%;
  }
}

/* Cards */

.card {
  border-radius: 15px;
  margin-top: 40px;
  padding: 20px 30px;
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 640px) {
  .card {
    margin-top: 15px;
  }
}

.card-slim-top {
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-slim {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-arcade-overlay {
  background-image: url("arcade2.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .card-arcade-overlay {
    background-image: none;
  }
}

@media only screen and (max-width: 330px) {
  html{
    background-image: url("arcade2.png");
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
  }
}

.card-grey {
  background: linear-gradient(#1e1e1e, #111111);
}

.card-purple {
  background: linear-gradient(#dc00d9, #c100bf);
}

.card-orange {
  background: linear-gradient(#d78c4f, #d77d33);
}

.card-blue {
  background: linear-gradient(#69baff, #569bd5);
}

.card-red {
  background: linear-gradient(#ff6767, #e34949);
}

/* Navigation bar */

nav {
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

.nav-right {
  float: right;
}

nav li a {
  display: block;
  color: white;
  background: linear-gradient(#069fff, #0671ff);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #393939;
  font-size: 14px;
}

@media only screen and (max-width: 640px) {
  nav li {
      display: block;
      width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  nav li a {
    font-size: 12px;
    padding: 10px 12px;
    margin-bottom: 8px;
  }
}

nav li a:hover {
  border: 3px solid #115500;
}

nav li a:focus {
  border: 3px solid #ffbf47;
}

.btn {
  border: 3pt solid transparent;
}

.btn:hover {
  outline: 3pt solid #ffbf47;
}

input:focus {
  outline: 3pt solid #ffbf47;
}

/* Buttons */

.btn {
  background: linear-gradient(#4bb750, #2e9833);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}

.btn-call {
  border-radius: 20px;
}

.btn-block {
  display: block;
  width: 100%;
}


.btn-title {
  float: right;
  margin-top: 20px;
  margin-right:20px;
  margin-bottom:10px;
  font-size: 16px;
}

@media only screen and (max-width: 640px) {
  .btn-long {
    font-size: 8px;
  }
}

@media only screen and (max-width: 360px) {
  .btn-long {
    font-size: 7px;
  }
  .btn-title{
    font-size: 12px;
  }
}

/* CSS Grids */

.flex {
  display: flex;
  flex-direction: row;
  margin-right: -15px;
  /* to offset the card margins */
  margin-left: -15px;
}

@media only screen and (max-width: 960px) {
  .flex {
      flex-direction: column;
  }
}

.grid-1 {
  flex: 1 0 0;
}

.grid-2 {
  flex: 2 0 0;
}